---

- name: add settings in xinitrc
  lineinfile: dest=~/.xinitrc insertafter="^# var settings" line="{{ item }}"
  with_items: "{{ config.xinitrc }}"

- name: make zsh default shell
  become: true
  command: chsh -s /usr/bin/zsh {{ ansible_user_id }}
